<!-- Footer
================================================== -->
<footer class="page-footer" role="contentinfo">
  <div class="container">

    <p>このサイトのコンテンツは<a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>でライセンスされます。</p>

    <ul class="list-inline">
      <li>日本語Markdownユーザー会</li>
      <li class="muted">&middot;</li>
      <li><a href="{{ site.googlegroup_link }}" target="_blank">Googleグループ</a></li>
      <li class="muted">&middot;</li>
      <li><a href="{{ site.trello_link }}" target="_blank">活動計画(Trello)</a></li>
    </ul>

    <ul class="list-inline">
      <li>
        <a href="https://twitter.com/markdownj" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true" data-lang="ja">Follow @markdownj</a>
      </li>
      <li>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://markdown.jp/" data-count="horizontal" data-via="markdownj" data-related="zerobase:Founder of Japanese Markdown User Group" data-lang="ja">Tweet</a>
      </li>
    </ul>
  </div>
</footer>
