<!-- Footer
================================================== -->
<footer class="page-footer" role="contentinfo">
  <div class="container">

    <ul class="list-inline">
      <li>Japanese Markdown User Group</li>
      <li class="muted">&middot;</li>
      <li><a href="{{ site.googlegroup_link }}" target="_blank">google group</a></li>
      <li class="muted">&middot;</li>
      <li><a href="{{ site.trello_link }}" target="_blank">activity plans (Trello)</a></li>
      <li class="muted">&middot;</li>
      <li><a href="{{ site.github_link }}" target="_blank">source of this website (GitHub)</a></li>
    </ul>

    <ul class="list-inline">
      <li>
        <a href="https://twitter.com/markdownj" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true" data-lang="en">Follow @markdownj</a>
      </li>
      <li>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://markdown.jp/" data-count="horizontal" data-via="markdownj" data-related="zerobase:Founder of Japanese Markdown User Group" data-lang="en">Tweet</a>
      </li>
    </ul>

    <p>Copyright 2013 Ishibashi Hideto under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>

  </div>
</footer>
