<!DOCTYPE html>
<html lang="ja">
  <head>
    {% include header.html %}
  </head>
  <body>
    <a class="sr-only" href="#content">Skip navigation</a>

    {% include nav-main.html %}

    <div class="container" id="content">

      <div class="page-header">
        <h1>{{ page.title }}</h1>
        <p>{{ page.desc }}</p>
      </div>

      <div class="row">
        <div class="col-md-3" role="complementary">
          {% include sidenav.html %}
        </div>
        <main class="col-md-9" role="main">
          {{ content }}
        </main>
      </div>

    </div>

    {% include footer.html %}

  </body>
</html>
